/* Dark mode colors. */
:root {
	--sl-color-accent-low: #14351d;
	--sl-color-accent: #b21f5c;
	--sl-color-accent-high: #ffd4e5;
	--sl-color-white: #f2ffe9;
	--sl-color-gray-1: #d8f7c5;
	--sl-color-gray-2: #a9df89;
	--sl-color-gray-3: #75b85b;
	--sl-color-gray-4: #39733f;
	--sl-color-gray-5: #27522f;
	--sl-color-gray-6: #183821;
	--sl-color-black: #07150c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d8f0c9;
	--sl-color-accent: #276f35;
	--sl-color-accent-high: #123f21;
	--sl-color-white: #07150c;
	--sl-color-gray-1: #123f21;
	--sl-color-gray-2: #27522f;
	--sl-color-gray-3: #39733f;
	--sl-color-gray-4: #6aa44d;
	--sl-color-gray-5: #a9df89;
	--sl-color-gray-6: #e6f7dc;
	--sl-color-gray-7: #f7fff2;
	--sl-color-black: #ffffff;
}
